.my-input{
    background-color: rgb(126, 126, 126); 
}
.my-input::placeholder{
    color:rgb(209, 207, 207);
}
body { background: url(https://c.wallhere.com/photos/ec/1f/anime_anime_girls_illustration_fan_art_manga_boobs_minimalism_monochrome-1579535.jpg!d); }